<!-- <div id="page-content-wrapper" >
  <nav class="navbar navbar-expand-lg navbar-light bg-light" [hidden]="closeNavBar()">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" role="button" [routerLink]="['/usuario/lista']" routerLinkActive="router-link-active">Usuarios</a>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/usuario/lista']" routerLinkActive="router-link-active">Usuarios</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="sair()">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  </div> -->

  <div id="page-content-wrapper" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light" [hidden]="closeNavBar()">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" role="button" [routerLink]="['/usuario/lista']" routerLinkActive="router-link-active">Usuários</a>
            </li>
            <li>
              <a class="nav-link" role="button" [routerLink]="['/usuario/relatorio']" routerLinkActive="router-link-active">Relatório</a>

            </li>
            <li>
              <a class="nav-link" role="button" [routerLink]="['/usuario/grafico']" routerLinkActive="router-link-active">Gráfico</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="sair()">Sair</a>
            </li>
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              Menu
            </a> -->
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" [routerLink]="['usuario/lista']" routerLinkActive="router-link-active" >Usuario</a>
               <a class="dropdown-item" [routerLink]="['/userReport']" routerLinkActive="router-link-active" >Relatório</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Link 3</a>
            </div> -->

        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
    </div>

