<div class="sidebar_lateral">
  <mat-toolbar [hidden]="closeNavBar()">
    <div fxShow="true" fxHide.lt-md="true">

      <a mat-button class="menu-button" [routerLink]="['/home']" routerLinkActive="router-link-active" >
        <mat-icon>home</mat-icon>
        <span class="name">Home</span>
      </a>

      <a mat-button class="menu-button" [routerLink]="['/usuario/lista']" routerLinkActive="router-link-active" >
        <mat-icon>person</mat-icon>
        <span class="name">Usuarios</span>
      </a>
      <a mat-button class="menu-button" [routerLink]="['/usuario/relatorio']" routerLinkActive="router-link-active" >
        <mat-icon>assignment</mat-icon>
        <span class="name">Relatório</span>
      </a>
      <a mat-button class="menu-button" [routerLink]="['/usuario/grafico']" routerLinkActive="router-link-active" >
        <mat-icon>assessment</mat-icon>
        <span class="name">Gráfico</span>
      </a>
      <a mat-button class="menu-button" (click)="sair()" >
        <mat-icon>info</mat-icon>
        <span class="name">Sair</span>
      </a>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <a mat-button class="menu-button_lateral" (click)="sidenav.toggle()">
        <mat-icon >menu</mat-icon>
        <span class="name">Menu</span>
      </a>

    </div>
  </mat-toolbar>


<mat-sidenav-container fxFlexFill >
  <mat-sidenav #sidenav fxLayout="column" [hidden]="closeNavBar()" >

    <h2 class="name">SISTEMA RWS</h2>

    <mat-divider></mat-divider>

    <a mat-button class="menu-button_lateral" [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
      <mat-icon>home</mat-icon>
      <span class="name">Home</span>
    </a>
    <a mat-button class="menu-button_lateral" [routerLink]="['/usuario/lista']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
      <mat-icon>person</mat-icon>
      <span class="name">Usuarios</span>
    </a>
    <a mat-button class="menu-button_lateral" [routerLink]="['/usuario/relatorio']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
      <mat-icon>assignment</mat-icon>
      <span class="name">Relatório</span>
    </a>
    <a mat-button class="menu-button_lateral" [routerLink]="['/usuario/grafico']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
      <mat-icon>assessment</mat-icon>
      <span class="name">Gráfico</span>
    </a>

    <mat-divider></mat-divider>

     <a mat-button class="menu-button_lateral" (click)="sair()" (click)="sidenav.toggle()">
      <mat-icon>info</mat-icon>
      <span class="name">Sair</span>
    </a>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
